    #encabezadoApertura {
        background-color: black;
        padding: 3% 1%;
    }
    
    p#Ref {
        font-size: 18px;
        font-weight: 600;
    }
    p#visitanos_text
    {
        font-weight: 300;
        font-size: 45px;
    }
    
    #headerq h1 {
        font-size: 80px;
        font-weight: 600;
        color: black;
    }
    
    #headerq h1 {
        font-size: 80px;
        font-weight: 600;
    }
    
    #headerq h2 {
        font-size: 50px;
    }
    
    #encuentra {
        margin-top: 80px;
    }
    
    #encuentraA {
        margin-top: 10px;
    }
    
    #legalMSI {
        font-size: 16px;
        margin-top: 30px;
    }
    
    #ademas img {
        margin: auto;
    }
    
    #labelS .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .colorGris {
        background-color: #FBFBFD;
        padding: 10px;
        min-height: 570px;
    }
    
    .colorGris1 {
        background-color: #FBFBFD;
        padding: 10px;
    }
    
    #ademas {
        margin-top: 50px;
    }
    
    .bancos_exclusivos
    {
        width: 180px !important;
    }

    div#headerq .fecha {
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 30px;
        color: black;

    }
    
    div#encuentra h2 {
        margin-top: -40px;
        color: black;
    }
    
    #ademas h2 {
        font-size: 30px;
    }
    
    div#ademas h2 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .colorGris h3 {
        font-size: 35px;
        font-weight: 500;
    }
    
    .textosh3 h6 {
        font-size: 20px;
    }
    
    div#encabezadoApertura img {
        width: 50%;
        margin: auto;
    }
    
    #MSI .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #MSI .row h2 xx {
        font-weight: 400;
    }
    
    #MSI .row #legalMSII {
        font-size: 14px;
    }
    
    #MSI img {
        width: 80%;
        margin: auto;
    }
    
    #MSI {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    @media (max-width: 1024px) {
        #headerq h1 {
            font-size: 55px;
            font-weight: 600;
        }
    }
    
    @media (max-width: 834px) {
        #nombreAp f {
            font-size: 50px !important;
        }
        #headerq h1 {
            font-size: 40px;
        }
        #headerq h2 {
            font-size: 30px;
        }
        #legalMSI {
            font-size: 12px;
        }
        #MSI .row #legalMSII {
            font-size: 12px;
        }
        #MSI img {
            width: 90%;
            margin: auto;
        }
        #mensajesMSI h2 {
            font-size: 25px;
        }
        .colorGris h3 {
            font-size: 25px;
            font-weight: 500;
        }
        .colorGris {
            min-height: 420px;
        }
        #ademas1 h2 {
            font-size: 25px;
        }
        .jose img {
            margin: auto;
        }
        .jose h3 {
            text-align: center;
            font-size: 20px !important;
        }
    }
    
    @media (max-width: 768px) {
        #headerq h1 {
            font-size: 55px;
        }
        div#headerq .fecha {
            font-size: 40px;
        }
        #headerq h2 {
            font-size: 40px;
        }
        .colorGris {
            min-height: 390px;
        }
        #headerq h1 {
            font-size: 35px;
        }
        div#headerq .fecha {
            font-size: 30px;
        }
        #headerq h2 {
            font-size: 25px;
        }
        #encabezadoApertura img {
            width: 75%;
            margin: auto;
        }
        #encabezadoApertura {
            background-color: black;
            padding: 3% 1%;
        }
        .sep {
            margin-bottom: 20px;
        }
        div#encabezadoApertura img {
            width: 80%;
            margin: auto;
        }
    }
    
    @media (max-width: 414px) {
        #MSI .row h2 {
            text-align: center;
        }
        #MSI .row {
            display: block;
        }
        #nombreAp f {
            font-size: 30px !important;
        }
        #MSI img {
            width: 100%;
            margin: auto;
        }
    }
    
    #nombreAp f {
        font-size: 70px;
    }
    
    #img1 img {
        margin: auto;
    }
    
    #mapa img {
        margin: auto;
    }
    
    #ademas1 h3 {
        font-size: 23px;
    }
    
    #ademas1 {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px;
        background-color: #FBFBFD;
    }